body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.hidden {
    display: none;
}

#name, #todo-form input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: border-color 0.3s ease;
    background: rgba(24, 24, 24, 0.5); 
    color: white; 
    font-weight: bold;
    border-radius: 2px; 
}

#clock, #greeting, #todo-form, #todo-list {
    text-align: center;
    margin: 1rem 0;
}

#clock {
    font-size: 4rem;
    color: white;
}

#greeting {
    font-size: 1.2rem;
    color: white;
}

#todo-list {
    color: white;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 80%;
}

#quote {
    color: white;
    font-weight: bold;
}

#weather {
    color: white;
}